[Unit]
Description=Monitoring script for process
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/monitor_process/monitor_process.conf 
ExecStart=/usr/local/bin/monitor_process.sh
RuntimeDirectory=monitor_process
RuntimeDirectoryPreserve=yes

[Install]
WantedBy=multi-user.target
